{{ sftp_log_file }} {
        {{ sftp_logfile_rotate_period | default('weekly') }}
        missingok
        rotate {{ sftp_logfile_rotate_number | default(52) }}
        compress
        delaycompress
        copytruncate
        notifempty
        postrotate
                invoke-rc.d rsyslog reload > /dev/null
        endscript
}